
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1, h2, h4 {
    margin: 22px 0;
    color: #2e69ad;
}


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;

}

nav ul li {
    display: inline;
    margin: 0 15px;

}

nav ul li a{
    text-decoration: none;
    color: #2e69ad;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;

}
a{
    text-decoration: none;
    color: #2e69ad;
}
header{
    background-color:#ffffff;
}

fieldset{
    border:none;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.formsnome{
    margin-left: -100px;
}
.formsemail{
    margin-left: -100px;
}
.formmens{
    margin-left: -61px;
}

 button {
    margin-top: 10px;
    padding: 7px;
    background:#2e69ad;
    color: white;
    border: none;
    border-radius: 4px;

}

footer {
    text-align: center;
    padding: 10px 0;
    background:#2e69ad;
    width: 100%;
    color: #f9f9f9;
}




